{% extends "base_generic.html" %}

{% block content %}
  <h1 class="main-title">University Register Home</h1>
  <p class="subtitle">Welcome to the University Management System!</p>
  
  <!-- Summary section -->
  {# horizontal container that holds all our boxes #}
  <div class="row">

    {# defines the GRID logic (how much space the box takes) #}
    {# 'md-4' = 3 per row on PC | 'sm-6' = 2 per row on phone #}
    <div class="col-md-4 col-sm-6">
      {# customCSS class for the visual of the box #}
      <div class="stat-card">
        <h3>Students</h3>
        <p class="number-display">{{ num_students }}</p>
      </div>

    </div> <div class="col-md-4 col-sm-6">
      <div class="stat-card">
        <h3>Professors</h3>
        <p class="number-display">{{ num_profesores }}</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="stat-card">
        <h3>Courses</h3>
        <p class="number-display">{{ num_courses }}</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="stat-card">
        <h3>Departments</h3>
        <p class="number-display">{{ num_departments }}</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="stat-card">
        <h3>Groups</h3>
        <p class="number-display">{{ num_classgroups }}</p>
      </div>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="stat-card">
        <h3>Open Classes</h3>
        <p class="number-display">{{ num_classgroups_open }}</p>
      </div>
    </div>

  </div> {# End of the row #}

  <!-- Last visited course section -->
  <div class="row">
    <div class="col-12">
      <div class="stat-card last-course-card">

        <h3>Last visited course</h3>

        {% if last_course %}
          <p class="last-course-title">
            <a href="{{ last_course.get_absolute_url }}">
              {{ last_course.title }}
            </a>
          </p>
          <p class="last-course-extra">
            {{ last_course.course_code }} • {{ last_course.department }}
          </p>
        {% else %}
          <p class="last-course-empty">
            You haven't visited any courses yet
          </p>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %} 