{% extends "base_generic.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/students.css' %}">
{% endblock %}

{% block content %}
<h1 class="main-title">Students</h1>

<div class="search-container">
  <form action="" method="get" class="input-group">
    <input type="text" name="search" class="form-control" 
           placeholder="Search..." value="{{ request.GET.search }}">
    
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">Search</button>
      <a href="{{ request.path }}" class="btn btn-outline-secondary">Reset</a>
    </div>
  </form>
</div>
<p class="subtitle">Enrollment Registry</p>

{% if student_list %}
<ul class="student-list">
  {% for student in student_list %}
  <li class="student-item">

    {# Icon with first letter of first and last name #}
    <div class="student-initials">
      {{ student.first_name|slice:":1" }}{{ student.last_name|slice:":1" }}
    </div>

    <a href="{{ student.get_absolute_url }}" class="student-link">
      {{ student.first_name }} {{ student.last_name }}
    </a>

  </li>
  {% endfor %}
</ul>
{% else %}
  <p>No students available.</p>
{% endif %}
{% endblock %}